[features]
resolution = true
skip-lint = false

[programs.localnet]
multiplayer_poker = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"

[registry]
url = "https://api.apr.xyz"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

[test.validator.clone]
account = ["metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"]
